* {
  box-sizing: border-box;
}
.smbody {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  grid-gap: 0.2rem;
}
.image-container .image {
  position: relative;
  padding-bottom: 100%;
}

.image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.image-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 700px;
  grid-gap: 0.1rem;
}

.image-container2 .image2 img {
  height: 100%;
  width: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.image-container2 .image2 {
  position: relative;
  padding-bottom: 100%;
}

.image-container2 .image2 img:nth-of-type(1) {
  filter: grayscale(1) brightness(40%);
}
.image-container2 .image2 img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-start);
          clip-path: var(--clip-start);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.image-container2 .image2:hover img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-end);
          clip-path: var(--clip-end);
}

.image-container .image img:nth-of-type(1) {
  filter: grayscale(1) brightness(40%);
}
.image-container .image img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-start);
          clip-path: var(--clip-start);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.image-container .image:hover img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-end);
          clip-path: var(--clip-end);
}
.tiktok {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: .2rem;
  justify-content: center;
  width:600px;

}
.tiktok .video {
  position: relative;
  padding-bottom: 0
}

.tiktok .video video {
  height: auto;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: relative;
  top: 0;
}

<!---BLOG--->

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  background: #F4F4F4;
}

.leftcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}
/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.ava img {
  border-radius: 50%;
  padding-bottom:20px;
  padding-top:20px;
}